[submodule "kernel"]
	path = kernel
	url = https://github.com/kan-linux/kernel
	branch = master
	ignore = untracked
	shallow = true
[submodule "external/llama.cpp"]
	path = external/llama.cpp
	url = https://github.com/kan-linux/ggml-hexagon
	branch = master
	ignore = untracked
[submodule "external/ff/ffmpeg"]
	path = external/ff/ffmpeg
	url = https://github.com/kan-linux/ffmpeg
	branch = master
	ignore = untracked
	shallow = true
[submodule "external/ff/ffmpeg_deps/x264"]
	path = external/ff/ffmpeg_deps/x264
	url = https://github.com/kan-linux/x264
	shallow = true
[submodule "external/ff/ffmpeg_deps/x265"]
	path = external/ff/ffmpeg_deps/x265
	url = https://github.com/kan-linux/x265
	shallow = true
[submodule "external/installer"]
	path = external/installer
	url = https://github.com/kan-linux/installer
[submodule "external/qt/qtbase"]
	path = external/qt/qtbase
	url = https://github.com/kan-linux/qtbase
	shallow = true
[submodule "external/qt/qtdeclarative"]
	path = external/qt/qtdeclarative
	url = https://github.com/kan-linux/qtdeclarative
	shallow = true
[submodule "external/qt/qtwayland"]
	path = external/qt/qtwayland
	url = https://github.com/kan-linux/qtwayland
	shallow = true

