out/
prebuilts/
iso/
packages/

.github/

*.tflite
*.bdf
*.iso
*.a
*.bat
*.bin
*.d
*.dll
*.dot
*.etag
*.exe
*.gcda
*.gcno
*.gcov
*.gguf
*.gguf.json
*.lastModified
*.log
*.metallib
*.o
*.so
*.swp
*.tmp
*.DS_Store
*.bk

/.cache/
/.ccls-cache/
/.direnv/
/.envrc
/.idea/
/.swiftpm
/.vs/
/.vscode/
/nppBackup

/gcovr-report/
/lcov-report/
/.build/
/tmp/
/autogen-*.md

!/.github/workflows/*.yml

flake.lock
/result
/.ccache/
/.ccache*/

/*.code-workspace
/.windsurf/
a.out.*
